<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<link rel="stylesheet" href="/css/jquery.miniColors.css" type="text/css">
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery.mousewheel.min.js"></script>
		<script src="/js/jquery.miniColors.js"></script>
		<script src="/js/rgbcolor.js"></script>
		<script src="/js/paint.js"></script>
		<title>Multiplayer Paint!</title>
	</head>
	
	<body>
		<div id="main">
			<canvas id="drawing" width="800px" height="600px" oncontextmenu="return false;"></canvas>
			<canvas id="overlay" width="800px" height="600px" oncontextmenu="return false;"></canvas>
		</div>

		<div id="sidebar">
            <input id="color" type="minicolors" data-control="inline" />
		</div>
    <script type="text/javascript" language="javascript">
        $.minicolors.init();
    </script>
	</body>
</html>
