<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<title>Multiplayer Paint!</title>
	</head>
	
	<body>
		<div id="main">
			<ul>
				<% for (var i = 0; i < latest.length; i++) { %>
				<li>
					<div>
						<a href="/<%= latest[i][0] %>"><%= latest[i][0] %></a>
						<span>Last updated: <%= latest[i][1] %></span>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</body>
</html>
